<html>
	<head>
		<title>TITLE</title>
		<link href="/static/style.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
		<script src="/static/script.js"></script>
		<script>
			path = "{{request.form.get('path')}}";
		</script>
	</head>
	<body>
		<div id="backgroundCover"></div>
			<div id=wrapper><a href="/"><input type="submit" value="Home" id="home" class="btn btn-primary"></a></div>
			<div id="table">
				<h3>NTFS Parser</h3><br>
					<form method="POST" action="/search">
						<div><input type="text" name="path" id="path" placeholder="C:\\Users\\woonseon\\Desktop" class="form-control"></div>
						<div><input type="submit" value="Find" id="msubmit" class="btn btn-primary"></div>
					</form>
					<form method="POST" action="/download">
						<div><input type="text" name="fname" id="fname" placeholder="download.txt" class="form-control"></div>
						<div><input type="submit" value="View" id="msubmit" class="btn btn-primary"></div>
					</form>
				<br>
				<table class='table table-bordered'>
					<thead>
						<tr>
							<th>#</th>
							<th>TYPE</th>
							<th>FILENAME</th>
							<th>SIZE</th>
							<th>PATH</th>
							<th>MTIME</th>
							<th>ATIME</th>
							<th>CTIME</th>
							<th>ETIME</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="10" style="padding:100px;text-align: center;font-size:30px">
								Parsing...
								<div class="loader"></div>
							</td>
						</tr>
					</tbody>
			</div>
	</body>
</html>